
td:first-child{
	width: 150px;
	color: blue;
}
td:nth-child(2){
	text-align: left;
}

td:last-child{
	width: 100px;
	font-weight: 300;
}

td{
	padding: 5px;
	text-align: center;
	font-weight: 600;
}

table{
	margin: 20px;
	border-collapse: collapse;
}
table, td, tr, th{
	border-style: solid;
	border-color: black;
}

h2, form, div{
	text-align: center;
}

input, textarea{
	font: 12pt/10pt sans-serif;
	width: 300px;
    margin: 10px;
}

.adder{
	color: white;
    font-size: 25px;
    position: fixed;
    top: 0px;
    right: 0px;
}

input[type="submit"]{
	height: 40px;
}

textarea{
    height: 300px;
    }

.error{
    color: red;
    font-size: 25px;
}